 body {
                min-width: 420px;
                overflow-x: scroll;
                font-family: Arial, sans-serif;
                font-size: 14px;
                text-align: left;
            }

/*check out overflow scroll for scroll*/

.column{
  width:200px;
  float:left;
}

h4.left{
  text-align: left;
}
